main{
    padding: 0%;
}
.share_testimony{
    padding: 5% 0%;
    text-align: center;
}
.share_testimony button{
    width: 500px;
    height: 75px;
    border: none;
    background-color: var(--primary);
    color: white;
    font-size: 1.8rem;
    border-radius: 25px;
    cursor: pointer;
    font-family: 'poppins_bold';
}
button:hover{
    transition: ease-in-out;
    transform: scale(1.05);
}
.section_header{
    text-align: center;
    color: var(--primary);
}
.main_title{
    font-family: "poppins_bold";
    font-size: 2.5rem;
}
.testimony-bars-container{
    padding: 0% 10%;
}
.testimony-bar{
    margin: 2% ;
    box-shadow: 2px 2px 1000px rgb(189, 188, 188);
    padding: 3% 2%;
    width: 900px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: "poppins_regular";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimony-bar:hover{
    transition: ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}
.bar_title{
    font-family: "poppins_bold";
    font-size: 1.25rem;
}
.bar_text{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: italic;
}
.main-modal-wrapper{
    align-items: center;
}
.main_modal{
    padding: 2%;
    width: 70%;
    background-color: white;
}
.form_line, 
.form_textarea{
    font-size: 1.2rem;
}
.form_line input{
    height: 40px;
    width: 50%;
}

@media screen and (max-width: 1007px) {
    .testimony-bar{
        width: 600px;
    }
}


@media screen and (max-width: 700px) {
    .main_modal{
        max-height: 700px;
        overflow: scroll;
    }
    .testimony-bar{
        white-space: wrap;
        width: 300px;
        height: 100px;
    }

    .share_testimony button{
        width: 250px;
        font-size: 1rem;
    }   
    .form_line input{
        width: 100%;
    }
}