/* FOOTER SECTION CSS */
footer{
    padding: 2% ;
    display: flex;
    justify-content: space-between;
    color: white;
}

/* DESCRIPTION */
.description_contact_info_container{
    color: var(--primary);
    border-radius: 20px;
    border: 1px solid var(--primary);
    padding: 2% ;
    width: 28%;
}
/* .description_contact_info_container:hover{
    transition: ease-in-out 1s;
    background-color: var(--primary);
} */
.logo_name_container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.footer_logo_container{
    width: 15%;
}
.footer_logo_container img{
    width: 100%;
}
.name_container{
    font-size: 1.2rem;
    font-family: "poppins_bold";
    display: flex;
    align-items: center;
}
footer .description_container{
    font-size: 1.1rem;
    font-family: "poppins_regular";
    margin-bottom: 5%;
}
.contact_line{
    display: flex;
    padding: 2% 0% ;
}
.contact_line .logo{
    font-size: 1.5rem;
}
.link_text{
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-family: "poppins_regular";
    padding-left: 2%;
}
.link_text span a{
    text-decoration: none;
    color: inherit;
}

/* SERVICES */
.services_info_container{
    width: 28%;
    background-color: var(--primary);
    border-radius: 20px;
    padding: 2% ;
}
/* .services_info_container:hover{
    transition: ease-in-out 1s;
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color: white;
} */
.footer_section_title{
    font-size: 1.2rem;
    font-family: "poppins_bold";
    padding: 5% 0%;
    border-radius: 5%;
    margin-bottom: 5%;
}
.service_container{
    padding: 1% 0%;
}
.service_name{
    font-size: 1.1rem;
    font-family: "poppins_bold";
}
.service_day_time{
    padding-left: 5%;
}
.service_day{
    text-decoration: underline;
    font-size: 1.05rem;
    font-family: "poppins_regular";
}
.service_time{
    font-size: 1rem;
    font-family: "poppins_regular";
}

/* USEFUL LINKS */
.links_container{
    color: var(--primary);
    border-radius: 20px;
    border: 1px solid var(--primary);
    padding: 2% ;
    width: 28%;
}
/* .links_container:hover{
    transition: ease-in-out 1s;
    color: white;
    background-color: var(--primary);
} */
.link_bar{
    display: flex;
    padding: 4% 0%;
}
.link_logo{
    font-size: 1.5rem;
}
.link_text{
    font-size: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

/* RESPONSIVE VERSIONS */
/* TABLET VERSION */
@media screen and (max-width: 1007px) {
    .footer_logo_container{
        width: 20%;
    }
    .name_container{
       font-size: 0.9rem;
    }
    footer .description_container{
        font-size: 0.8rem;
    }
    .contact_line .logo{
        font-size: 1rem;
    }
    .link_text{
        font-size: 0.8rem;
    }
    .footer_section_title{
        font-size: 1rem;
    }
    .service_name{
        font-size: 0.9rem;
    }
    .service_day{
        font-size: 0.85rem;
    }
    .service_time{
        font-size: 0.8rem;
    }
    .link_bar .logo{
        font-size: 1rem;
    }
}

/* PHONE VERSION */
@media screen and (max-width: 700px){
    footer{
        margin-top: 10%;
        flex-direction: column;
        align-items: center;
    }
    .description_contact_info_container,
    .services_info_container,
    .links_container{
        width: 90%;
        margin-bottom: 5%;
    }
}