/* HEADER CSS */
html,body{
    margin: 0px;
    padding: 0px;
}
header{
    position: relative;
}
/* MOBILE NAVBAR */
.mobile_navbar{
    display: none;
}
.menu,
.closer_container{
    display: none;
    padding-right: 5%;
}
/* DESKTOP & TABLET NAVBAR */
.navbar{
    background-color: var(--primary);
    /* opacity: 0.8; */
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 10;
}
.logo_container{
    width: 10%;
    height: 100px;
    padding: 0% 1%;
}
.logo_container:hover{
    transition: ease-in-out;
    transform: scale(1.25);
    cursor: pointer;
}
.logo_container img {
    width: 100%;
    height: 100%;
}
nav{
    width: 80%;
}
nav ul{
    display: flex;
    justify-content: space-around;
    margin: 0%;
    padding: 0%;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-size: 1.5rem;
    font-family: "poppins_semibold";
}
nav ul li:hover{
    transition: ease-in-out;
    transform: scale(1.25);
    cursor: pointer;
}
nav li a {
    text-decoration: none;
    color: white;
}
/* INTRO IMAGE - OBVERLAYING TEXT */
img{
    width: 100%;
    height: 100%;
}
.intro_image{
    height: 100vh;
}
.over_image_text{
    text-align: center;
    position: absolute;
    z-index: 5;
    width: 100%;
    top: 50%;
}
header::after{
    content: "";
    display: block;
    z-index: 1;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0px;
    opacity: 0.5;
    background-color: rgb(12, 12, 12);
}
.over_image_text span{
    display: block;
    color: white;
}
.over_image_text .main_text{
    font-family: "poppins_bold";
    font-size: 3rem;
}
.over_image_text .secondary_text{
    font-family: "poppins_regular";
    font-size: 1.5rem;
}

/* RESPONSIVE VERSIONS */
/* TABLET VERSION */
@media screen and (max-width: 1007px) {
    nav ul li{
        font-size: 1rem;
    }
    .logo_container{
        height: 80px;
    }
    .intro_image{
        height: 50vh;
    }
    .over_image_text .main_text{
        font-size: 2rem;
        padding: 0% 5%;
    }
    .over_image_text .secondary_text {
        font-size: 1rem;
      }
    .desc_text{
        font-size: 0.8rem;
    }
}

/* PHONE VERSION */
@media screen and (max-width: 700px) {
    .mobile_navbar{
        position: fixed;
        z-index: 10;
        width: 100%;
        display: block;
        background-color: var(--primary);
    }
    .mobile_navbar>div{
        display: flex;
        justify-content: space-between;

    }
    .mobile_navbar .logo_container{
        width: 20%;
    }
    .menu,
    .closer_container{
        display: block;
    }
    .menu{
        display: flex;
        align-items: center;
        padding: 5%;
        color: white;
    }
    .navbar{
        justify-content: space-between;
        position: fixed;
        display: none;
    }
    .navbar ul{
        display: flex;
        flex-direction: column;
        background-color: var(--primary);
        width: 100%;
        height: 50vh;
        z-index: 10;
        left: 0px;
        top: 0px;
        align-items: center;

    }
    .navbar nav{
        width: 100%;
    }
    .closer_container{
        display: flex;
        justify-content: end;
        padding: 5% 5% 0% 0%;
    }
    .navbar .logo_container{
        padding: 0% 40%;
        width: 20%;
    }
    .over_image_text .main_text{
        font-size: 1.2rem;
    }
}