/* PILLARS' MODAL */
.main-modal-wrapper{
    position: fixed;
    z-index: 10;
    top: 0px;
    left: 0px;
    height: 100%;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.modal_title{
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-family: "poppins_bold";
}
.main-modal{
    width: 80%;
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: scroll;
    background-size: cover;
}
.about_main-modal{
    background-color: white;
    padding: 2% 5%;
}
.main-modal-inner{
    height: 100%;
    color: white;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5);
}
.button_container{
    padding: 1% 0%;
    display: flex;
    justify-content: end;
}
.button{
    background-color: var(--primary);
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.modal_text{
    font-family: "poppins_regular";
    font-size: 1rem;
}

@media screen and (max-width: 700px) {
    .modal_title{
        font-size: 1.5rem;
    }
    .modal_text{
        font-size: 0.8rem;
    }
}
