/* DESCRIPTION */
.description{
    font-family: "poppins_regular";
    font-size: 1.2rem;
    padding: 5% 10%;
}

/* WSF LOCATOR */
.wsf_locator{
    padding: 5% 10%;
}
.locator_container{
    border-radius: 5px;
    box-shadow: 1px 1px 100px rgb(172, 171, 171);
    padding: 0ù 5%;
    display: flex;
    min-height: 400px;
}
.text_button_container{
    margin: auto;
    width: 40%;
}
.pres_text{
    padding: 5% 0%;
    font-family: "poppins_regular";
    font-size: 1.5rem;
}
.locator_button button{
    width: 150px;
    height: 40px;
    font-family: "poppins_regular";
    font-size: 1.2rem;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.locator_button button:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}
.map_container{
    width: 50%;
    border: 1px black solid;
}
#map{
    z-index: 5;
}
.leaflet-popup-content{
    width: 200px;
}
.cell_info{
    width: 200px;
    background-color: inherit;
    box-shadow: 5px 5px 102px 5px rgb(167, 166, 166);
    border-radius: 10px;
}
.img_container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.img_container iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.img_container img{
    width: 100%;
    height: 100%;
}
.desc_container{
    padding: 10% 0%;
    font-family: "poppins_regular";
    font-size: 0.8rem;
}
.name_container{
    padding: 0% 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 1rem;
}
.number_container{
    margin-bottom: 2%;
    padding: 0% 5%;
}
.go_to_map_button a{
    display: flex;
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 2%;
    font-size: 0.6rem;
    width: 90%;
    height: 30px;
    background-color: var(--primary);
    color: white;

}
/* RESPONSIVE VERSIONS */
/* TABLET VERSION */
@media screen and (max-width: 1007px) {
    .over_image_text .secondary_text,
    .pres_text,
    .description{
        font-size: 1rem;
    }
    .locator_button button{
        width: 100px;
        height: 30px;
        font-size: 1rem;
    }
}
/* PHONE VERSION */
@media screen and (max-width: 700px) {
    .description{
        font-size: 0.8rem;
    }
    .locator_container{
        flex-direction: column;
    }
    .text_button_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 5%;
        width: 90%;
        height: 200px;
    }
    .pres_text{
        text-align: center;
    }
    .locator_button{
        text-align: center;
    }
    #map{
        width: 100%;
        height: 300px;
    }
}

